{%extends 'master.html'%}
{%block body%}

<h1> Welcome To Django Based Registration</h1>

<h2> GET REQUEST</h2>
<form action="addfirst">
    <table>
        <tr>
            <td>ID</td>
            <td><input type="text" name="id"></td>
        </tr>
        <tr>
            <td>Name</td>
            <td><input type="text" name="name"></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="text" name="email"></td>
        </tr>
        <tr>
            <td>Contact</td>
            <td><input type="text" name="contact"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Save"></td>
            <td><input type="reset" value="Reset"></td>
        </tr>
    </table>

</form>
<h2> POST REQUEST</h2>

<form action="addsec" method="post">
    {%csrf_token%}
    <table>
        <tr>
            <td>ID</td>
            <td><input type="text" name="id"></td>
        </tr>
        <tr>
            <td>Name</td>
            <td><input type="text" name="name"></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="text" name="email"></td>
        </tr>
        <tr>
            <td>Contact</td>
            <td><input type="text" name="contact"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Save"></td>
            <td><input type="reset" value="Reset"></td>
        </tr>
    </table>

</form>
{%endblock%}