<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/AtmCard.css')}}" type="text/css">
    <script src="{{url_for('static', filename='js/AtmCard.js')}}"></script>
    <title>ATM Card</title>
</head>
<body>

    <section id="frontpg">
        <div class="container-fluid bg-dark" id="bgcontainers">

          <nav class="navbar navbar-expand-lg navbar-light container-fluid">
            <div class="container-fluid" id="nav-div">
              <a class="navbar-brand text-light" href="/">
                <img src="{{url_for('static', filename='img/logo3.png')}}" alt="" height="40px" width="40px" id="logopng">
                SBC</a>
              <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active text-light" aria-current="page" href="showuser">Profile</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active text-light" aria-current="page" href="userMoneyTransfer">Money Transfer</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active text-light" aria-current="page" href="deposite">Deposite</a>
                  </li> 
                  <li class="nav-item">
                    <a class="nav-link active text-light" aria-current="page" href="atmPage">ATM Card</a>
                  </li>   
                  <li class="nav-item">
                    <a class="nav-link active text-light" aria-current="page" href="logout">Log-Out</a>
                  </li>
              
                  <!-- <li class="nav-item">
                    <a class="nav-link text-light" href="signIn">Sign Up</a>
                  </li> -->
                </ul>
              </div>
            </div>
          </nav>     
        </div>


            
            <!-- --------------------------------User Login Form --------- -->
            <div class="container-fluid" id="display_div">
              {% with messages = get_flashed_messages() %}

              {% if messages %}
              {% for msg in messages %}
              <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4"><div class="alert alert-success alert-dismissible fade show" role="alert">
                  <h3>{{msg}}</h3>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div></div>
                <div class="col-md-4"></div>
              </div>
              {% endfor %}
              {% endif %}
              {% endwith %}
            </div>
            
            <div class="container" id="mainContainer">
                <div class="container" id="stylediv1">
                    <div class="row">
                       
                        <div class="col-md-3">
                            <div class="logoContainer">
                                <img src="{{url_for('static', filename='img/logo3.png')}}" alt="" height="50px" width="50px" id="logopngcard">
                                <p id="logoname">SBC</p>
                            </div>

                        </div>
                        <div class="col-md-3"></div>
                        <div class="col-md-3"></div>
                        <div class="col-md-3">
                            {% if filename %}
                            <div class="container" id="qrdiv">
                                <img src="{{ url_for("static", filename='/qr/'+filename) }}" alt="" height="70px" width="70px">
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p id="cardNo">{{row[5]}}&nbsp; {{row[6]}}&nbsp; {{row[7]}}&nbsp; {{row[8]}}&nbsp;</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <p id="cardH">Cardholder Name</p>
                            <h3>{{row[1]}}</h3>
                        </div>
                        <div class="col-md-4">
                            <p id="cardH" class="exp">Expiration</p>
                            <div class="container" id="validthrough">
                                <div class="container" class="intdate">
                                    <p class="validt">VALID <br> THRU</p>
                                </div>
                                <div class="container" class="intdate">
                                    <h2>{{row[4]}}</h2>
                                </div>
                            </div>
                            
                        </div>

                    </div>

                </div>
                

            </div>
                

<!-- 
   {% if filename %}
   <div class="container">
       <img src="{{ url_for("static", filename='/qr/'+filename) }}" alt="" height="60px" width="60px">
   </div>
   {% endif %} -->
</body>
</html>