<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user login</title>

    <style>
        h1{
            padding: 20px 0;
            text-align: center;
            border-bottom: 2px solid rgb(7, 206, 220);
        }
        .row{
            padding: 30px ;
            /* border: 2px solid black; */

        }
        .col-md-5{
            margin: auto;
            background-color: rgba(0, 221, 255, 0.752);
            padding: 20px;
            padding-left: 30px;
            border-radius: 10px;
        }
    </style>
</head>
<body>
    {% include 'navbar.html' %}

    <div class="container-fluid">
        <h1>Welcome to User Login</h1>
        <div class="row">
            <div class="col-md-5">
                <form>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3 form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
            </div>
        </div>
    </div>
    
</body>
</html>