body{
    background-color: rgb(210, 235, 248);
}

/*--------nav************----------**/
@font-face {
    font-family: court;
    src: url(../font/courgette/Courgette-Regular.ttf);
}
@font-face {
    font-family: comfort;
    src: url(../font/Comforter/Comforter/Comforter-Regular.ttf);
}
@font-face {
    font-family: poppinsbold;
    src: url(../font/poppins/Poppins-Light.ttf);
}
.navbar-brand{
    font-size: 26px;
    border: none;
}
.fas{
    margin-right: 10px;
    margin-left: 30px;
}
#find{
    font-family: court;
}
#it{
    font-family: comfort;
    font-weight: bold;
}
.dropdown-menu{
    border: none;
}
.menuOne{
    margin-left: 14px;
}
#navbarSupportedContent{
    color: voilet;
}


.dropdown-menu li a{
   color: rgb(12, 120, 170);
  
}
.dropdown-menu li a:hover{
   background-color: rgba(156, 213, 240, 0.788) !important;
}
.navbar-nav{
   font-family:poppinsbold ;
   font-size: 18px;
}






/*--------nav************----------**/
#bannerHome{
    /* border: 2px solid black; */
    height: 75vh;
    width: 92vw;
    margin: auto;
    margin-top: 80px;
    background-color: #fff;
    box-shadow: 2px 2px 10px 2px  rgba(67, 136, 173, 0.493);
}
/*----------------- content */
.row{
    /* border: 2px solid black; */
    margin: auto;
    width: 80vw;
    height: 63vh;
    margin-top: 10px;
    padding: 10px;
}
.card{
    height: 60vh;
    border: none;   
}
#Banner1{
    padding: 10px;
    width: auto;
    height: 300px;
}
#Banner1 h1{
    margin-top: 50px;
}
#Banner1 p{
    width: 470px;
    margin: 15px 0;
    flex-wrap: wrap;
}
.LearnMore{
    color: white;
    font-weight: 200;
    width: 150px;
    height: 40px;
    outline: none;
    border: none;
    font-family: poppinsbold;
    border-radius: 2px;
    background: linear-gradient(30deg, rgb(93, 186, 218), rgb(111, 231, 240));
    
}


.card-body{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#imgB{
    right: inherit;
    /* transform: translate(10px, -280px); */
    height: 300px;
    width: 400px;
    float: right;
}

/* -----media query-------- */
@media only screen and (max-width: 1180px) {
    #bannerHome{
        /* border: 2px solid black; */
        height: 80vh;
        width: 92vw;
        margin: auto;
        margin-top: 100px;
    }
    .card{
        height: 60vh; 
    }
    #Banner1{
        width: 100%;
    }
    #Banner2{
        margin-top: -100px;
        width: 100%;
    }
    #imgB{
        height: 300px;
        width: 400px;
        float: right;
    }
    #Banner1 p{
        width: 270px;
       
    }
  }

  @media only screen and (max-width: 810px) {
    #bannerHome{
        height: 80vh;
        width: 92vw;
        margin: auto;
        margin-top: 100px;
    }
    .card{
        height: 60vh; 
    }
    #Banner1{
        width: 100%;
    }
    #Banner2{
        height: 30vh;
        margin-top: 0px;
        width: 100%;
    }
    #imgB{
        height: 200px;
        width: 300px;
        float: right;
    }
    #Banner1 p{
        width: 270px;
       
    }
  }
  @media only screen and (max-width: 580px) {
   
    #Banner1{
        width: 100%;
        height: 30vh;
        padding-left: 20px;
    }
    #Banner2{
        height: 20vh;
        margin-top: 00px;
        width: 100%;
        padding-right: 30px;
        
    }
    #imgB{
        height: 150px;
        width: 200px;
        float: right;
    }
    #Banner1 h1{
       margin-top: -20px;
       
    }
    #Banner1 p{
        margin-top: -5px;
        width: 170px;
        font-size: 12px;
       
    }
  }
  @media only screen and (max-width: 385px) {
    #bannerHome{
        margin-top: 30px;
        height: 88vh; 
    }
    .row{
        height: 73vh;
    }
    .card{
        height: 70vh;
    }
   
    #Banner1{
        width: 100%;
        height: 34vh;
        padding-left: 20px;
    }
    #Banner2{
        height: 28vh;
        
        width: 100%;
        padding-right: 30px;
        
    }
    #imgB{
        padding-left: 20px;
        height: 150px;
        width: 150px;
        float: right;
        
    }
    #Banner1 h1{
        margin-top: 2px;
    }
    #Banner1 p{
        width: 170px;
       
    }
    .LearnMore{
        margin-top: 0px;
        padding-left: 2px;
        font-size: 6px;
        width: 45px;
        height: 20px;
        
    }
  }
        
  @media only screen and (max-width: 330px) {
    #bannerHome{
        margin-top: 30px;
        height: 88vh; 
    }
    .row{
        height: 73vh;
    }
    .card{
        height: 70vh;
    }
   
    #Banner1{
        width: 100%;
        height: 38vh;
        padding-left: 20px;
    }
    #Banner2{
        height: 20vh;
        margin-top: 0px;
        width: 100%;
        padding-right: 30px;
        
    }
    #imgB{
        padding-left: 20px;
        height: 100px;
        width: 100px;
        float: right;
        
    }
    #Banner1 h1{
        margin-top: 2px;
        font-size: 20px;
       
    }
    #Banner1 p{
        margin-top: 10px;
        width: 100px;
        font-size: 10px;
       
    }
    .LearnMore{
        margin-top: 0px;
        padding-left: 2px;
        font-size: 6px;
        width: 45px;
        height: 20px;
        
    }
  }