<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1> Welcome To Django ORM Operations </h1>
    <h3><a href="insert">Register1</a></h3>
    <h3><a href="insert2">Register2</a></h3>
    <h3><a href="insert3">Register3</a></h3>
    <h3><a href="insert4">Register4</a></h3>
    <h3><a href="ulist">UserList</a></h3>


</body>
</html>