<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page2</title>
  </head>
  <body>
    <h1>Page 3</h1>
    <h2>Welcome {{data}}</h2>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente atque
      dolore ex nulla voluptas magni facilis quos perferendis hic at eligendi
      fugit odio sit officiis, debitis reiciendis expedita quasi aspernatur
      necessitatibus non itaque doloribus adipisci libero facere. Id perferendis
      at corporis voluptatibus voluptas consequatur mollitia quod magnam nisi
      iste odio cupiditate distinctio, officia accusamus officiis laborum quis
      qui ipsum. Odit, provident quae. Eveniet quia, repellendus perferendis
      atque in alias eaque laudantium saepe id minus corporis nesciunt, vero
      ipsum aut quibusdam amet quae at, aliquam illo perspiciatis provident
      impedit quod. Voluptatem earum, numquam ipsum pariatur corrupti ullam id
      aut placeat quaerat!
    </p>
    <a href="home">Home page</a>
  </body>
</html>
