h1{
    text-align: center;
    margin: 10px 0;
    padding: 20px 0;

    border-bottom: 3px  solid rgb(5, 200, 235);
}

#mainInfo{
    padding: 0 10%;
    justify-content: center;
}
.row{
    padding-top: 50px;
}

p{
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
}